# i3 config file (v4)

# Modifier = Win (Super) key
set $mod Mod4

floating_modifier $mod
bindsym $mod+Shift+q kill

# change focus
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        bindsym Left resize shrink width 5 px or 5 ppt
        bindsym Down resize shrink height 5 px or 5 ppt
        bindsym Up resize grow height 5 px or 5 ppt
        bindsym Right resize grow width 5 px or 5 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Window title font
font pango:DejaVu Sans Mono 8

# Colors of windows (Arc Dark theme)
# <colorclass>          <border> <background> <text>  <indicator> <child_border>
client.focused          #5294E2  #5294E2      #ffffff #2b2a2a     
client.focused_inactive #2B2E39  #383C4A      #ffffff #0f0f0f     
client.unfocused        #2B2E39  #2F343F      #888888 #0f0f0f     
client.urgent           #2B2E39  #5294E2      #ffffff #5294E2     
client.placeholder      #2B2E39  #0c0c0c      #ffffff #000000     
client.background       #2B2E39

# Wallpaper (any file: png, jpg, etc)
exec --no-startup-id feh --bg-fill ~/Pictures/wallpaper.*

# Panel and notificatios
exec --no-startup-id xfce4-panel 
exec --no-startup-id dunst

# Layout and key repeat speed
exec --no-startup-id setxkbmap -layout us,ru -option grp:caps_toggle
exec --no-startup-id xset r rate 250 30

# Application shortcuts
bindsym $mod+Return exec xfce4-terminal 
bindsym $mod+B exec vivaldi-stable
bindsym $mod+M exec ~/Telegram/Telegram
bindsym $mod+T exec thunar
bindsym $mod+L exec leafpad

# Dmenu hotkey (Arc Dark colors)
bindcode --release 108 exec dmenu_run -i -b -fn "DejaVu Sans Mono" -p "> " -nb "#383C4A" -nf "#FFFFFF" -sb "#5294E2" -sf "#FFFFFF"

# Screenshot keys
# (github.com/MikeWent/prtcsr-ultimate) 
bindsym $mod+Print exec --no-startup-id ~/Scripts/prtscr-ultimate.py --selection
bindsym Print exec --no-startup-id ~/Scripts/prtscr-ultimate.py --fullscreen
bindsym Shift+Print exec --no-startup-id ~/Scripts/prtscr-ultimate.py --window

# Autostart
exec --no-startup-id compton -b
exec --no-startup-id nm-applet
exec --no-startup-id redshift
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id gnome-keyring-daemon
