# i3 config file (v4)

# Wallpaper
exec --no-startup-id "nitrogen --restore"

# Modifier = Win (Super) key
set $mod Mod4

floating_modifier $mod
bindsym $mod+Shift+q kill

# change focus
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
#bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec --no-startup-id "i3-nagbar -t warning -m 'Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        bindsym Left  resize shrink width  5 px or 5 ppt
        bindsym Down  resize shrink height 5 px or 5 ppt
        bindsym Up    resize grow   height 5 px or 5 ppt
        bindsym Right resize grow   width  5 px or 5 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Gaps
gaps inner 4
smart_gaps on
smart_borders on
bindsym $mod+bracketright gaps inner all plus 2
bindsym $mod+bracketleft gaps inner all minus 2

# Window title
new_window 1pixel
for_window [class="^.*"] border pixel 2
font pango:DejaVu Sans Mono 8

# Window rules
for_window [window_role="pop-up"] floating enable
for_window [class="Xfce4-appfinder"] floating enable
for_window [class="Pinta"] floating enable
for_window [class="Xfce4-panel"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Nm-connection-editor"] floating enable
for_window [class="PapersPlease"] floating enable
for_window [title="Steam Guard - Computer Authorization Required"] floating enable
for_window [class="VirtualBox Machine"] floating enable

# Telegram media viewer fix
for_window [title="Media viewer" class="TelegramDesktop"] floating enable
for_window [title="Media viewer" class="TelegramDesktop"] border pixel 0
for_window [title="Media viewer" class="TelegramDesktop"] move absolute position 0 0

# Colors of windows (Vertex Dark theme)
# <colorclass>          <border> <background> <text>  <indicator> <child_border>
client.focused          #5294E2  #808080      #ffffff #808080
client.focused_inactive #2B2E39  #353537      #888888 #353537
client.unfocused        #2B2E39  #202020      #888888 #202020
client.urgent           #5294E2  #3F7CF1      #ffffff #3F7CF1
client.placeholder      #2B2E39  #0c0c0c      #ffffff #0c0c0c
client.background       #2B2E39

# Panel and notificatios
exec --no-startup-id "xfce4-panel"
exec --no-startup-id "dunst"

# Configure layout and key repeat speed
exec --no-startup-id "setxkbmap -layout us,ru -option grp:caps_toggle"
exec --no-startup-id "xset r rate 250 30"

# Application shortcuts
bindsym $mod+Return exec --no-startup-id "xfce4-terminal "
bindsym $mod+B exec --no-startup-id "vivaldi-snapshot"
bindsym $mod+M exec --no-startup-id "telegram-desktop"
bindsym $mod+T exec --no-startup-id "thunar"
bindsym $mod+L exec --no-startup-id "leafpad ~/Notes/$(date +'%Y.%m.%d-%H.%M.%S')-$(openssl rand -hex 6).txt"
bindsym $mod+A exec --no-startup-id "xfce4-appfinder"
bindsym $mod+X exec --no-startup-id "i3lock -e -f -c '#2B2B2C'"
bindsym $mod+I exec --no-startup-id "code"

# Kill gvfs
bindsym $mod+Shift+K exec --no-startup-id "killall gvfsd-sftp"

# Dmenu hotkey
bindcode 108 exec --no-startup-id dmenu_run -i -b -fn "DejaVu Sans Mono" -p "run > " -nb "#2B2B2C" -nf "#FFFFFF" -sb "#4E5053" -sf "#FFFFFF"

# Light switch
# bind numpad too
#bindcode --release 87
# bindcode --release 88 worlspace 2
# bindcode --release 89 workspace 3
# bindcode --release 83 workspace 4
# bindcode --release 84 workspace 5
# bindcode --release 85 workspace 6
# bindcode --release 79 workspace 7
# bindcode --release 80 workspace 8
# bindcode --release 81 workspace 9
bindcode --release 90 exec --no-startup-id echo "13 2" | nc 192.168.100.101 28010

# bindsym $mod+Shift+KP_1 move container to workspace 1
# bindsym $mod+Shift+KP_2 move container to workspace 2
# bindsym $mod+Shift+KP_3 move container to workspace 3
# bindsym $mod+Shift+KP_4 move container to workspace 4
# bindsym $mod+Shift+KP_5 move container to workspace 5
# bindsym $mod+Shift+KP_6 move container to workspace 6
# bindsym $mod+Shift+KP_7 move container to workspace 7
# bindsym $mod+Shift+KP_8 move container to workspace 8
# bindsym $mod+Shift+KP_9 move container to workspace 9
# bindsym $mod+Shift+KP_0 move container to workspace 10

# Screenshot keys
# (github.com/MikeWent/prtcsr-ultimate) 
bindsym $mod+Print exec --no-startup-id "~/Scripts/prtscr-ultimate.py --selection"
bindsym Print exec --no-startup-id "~/Scripts/prtscr-ultimate.py --fullscreen"
bindsym Shift+Print exec --no-startup-id "~/Scripts/prtscr-ultimate.py --window"

# Autostart
exec --no-startup-id "xbindkeys"
exec --no-startup-id "compton -b"
exec --no-startup-id "nm-applet"
exec --no-startup-id "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
exec --no-startup-id "gnome-keyring-daemon"
exec --no-startup-id "redshift-gtk -l 53.74:27.33 -t 6500K:3500K"
